<h2>{{findMovie.title}}</h2>
<h5>{{findMovie.genre}}</h5>
<hr />
<p>{{findMovie.plot}}</p>
<hr />
{{#each findMovie.cast}}
  <p>
    <strong>
      {{name}}
    </strong>
    -
    {{occupation}}
  </p>
  <p>{{catchPhrase}}</p>
{{/each}}
<form action="/movies/{{findMovie._id}}/delete" method="post">
  <button type="submit">Delete</button>
</form>